extends layout

block content
        #section_1.parallax
            nav.navbar.navbar-expand-sm.justify-content-center
                img.navbar-brand.logo(src="/images/logo.jpg")
                ul.navbar-nav
                    li.nav-item.active(href="#")
                        a.nav-link Home
                    li.nav-item(href="#")
                        a.nav-link Our Services
                    li.nav-item(href="#")
                        a.nav-link What is UPGENCY?
                    li.nav-item(href="#")
                        a.nav-link.disabled Why We Differ
                    li.nav-item(href="#")
                        a.nav-link.disabled Contact Us
            .main
                div
                    p.huge UNDERSTAND YOUR AUDIENCE
                    hr
                    p.huge TARGET THEIR NEEDS

                    p.middle.separate UP YOUR GAME
        div#section_2
            .main
                .small#hr
                    hr.hline
                p.huge OUR
                p.huge SERVICES