body, html {
    height: 100%;
}

body {
    font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
    color: #ffffff !important;
}

a {
    color: #00B7FF;
}

/*.image {
    width: 100%;
}*/

.parallax {
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

nav {
    background-color: transparent;
}

.navbar-brand {
    margin-right: 20% !important;
}

.logo {
    max-width: 10%;
    max-height: 5%
}

div.main {
    width: 63%;
    margin: 0 auto;
    box-sizing: border-box;
    padding: 5% 0%;
}

div.main div:not(.small) {
    width: 63%;
}

div.small {
    width: 5%
}

div#hr {
    margin-bottom: 3%;
}

p.huge {
    font: bold 79px/0.9em raleway, sans-serif
}

hr {
    border-top: 2px solid #ffffff !important;
}

hr.hline {
    border-top: 10px solid #ffffff !important;
}

div#section_1 {
    background-image: url("/images/1.jpg");
}
div#section_2 {
    background: #000000 none repeat scroll 0% 0%;
}
div#section_3 {
    background-image: url("/images/2.jpg");
}